<div class="well">
  <div class="row">
    <div class="col-md-12">
      <h3>{{post.title}}</h3>
      <h4>{{post.author}}, <small>{{moment-from-now post.timestamp}}</small>.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-left">
      Delete
    </div>
    <div class="col-md-6 text-right">
      Update
    </div>
  </div>
</div>
