<div class="well">
  <h1>We <span class="glyphicon glyphicon-heart"></span> Data Visualization</h1>
  <p>
    Caleb & Marta doing a blog about Data Viz for the Ember class in Epicodus.
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <img class="img-resposive portrait" src="https://avatars3.githubusercontent.com/u/19969153?v=3&s=466" alt="Picture of Caleb Paul" />
        </div>
        <div class="col-md-6">
          <p>Caleb is a well known singer and musician featured in the <a href="http://www.calebpaulmusic.com/">web</a>.</p>
          <p>He used to look like Lenny Kravitz but now he is a respectable dad and coder to be. You can enjoy his previous music work in <a href="https://play.spotify.com/track/3X4U91OHOWx4vDSCxOVUwv?play=true&utm_source=open.spotify.com&utm_medium=open">Spotify</a>, and his actual coding work in <a href="https://github.com/CalebPaul">Github</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <img class="img-resposive portrait " src="https://avatars1.githubusercontent.com/u/20113678?v=3&s=466" alt="Picture of Marta Sánchez" />
        </div>
        <div class="col-md-6">
          <p class="pull-right">Marta is a design student at Epicodus and a mother of 2 lovely young boys.</p>
          <p>She enjoys working with Data Visualization as well as more typical web design and web development.</p>
          <p>Keep in touch with her at <a href="#">MartaSánchez.com.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
