<div class="row">
  <div class="col-md-6">
    {{new-post post=post saveNewPost="saveNewPost"}}

  </div>
  <div class="col-md-6">
    {{#each model as |post|}}
      {{admin-tile post=post}}
    {{/each}}

  </div>
</div>
